button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 5% auto 5%;
  font-weight: 600;
  letter-spacing: 1px;
}

.App > * {
  grid-column: 2 / 3;
}

#contact {
  background-color: #fff;
  box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);
  border: none;
  border-radius: 25px;
  padding: 0px 20px 0 15px;
  margin: 15px 0 0 0;
  text-align: center;
  text-decoration: none;
  align-self: flex-start;
  justify-self: flex-end;
  font-weight: 600;
  letter-spacing: 1px;

  background-position: center;
  transition: background 0.8s;
}

#contact a {
  display: flex;
  align-items: center;
  text-decoration: none;  
  color: #000;
}

#contact:hover {
  background: rgb(233, 233, 233) radial-gradient(circle, transparent 1%, rgb(233, 233, 233) 1%) center/15000%;
}

#contact:active {
  background-color: #f0f0f0;
  background-size: 100%;
  transition: background 0s;
  animation-duration: 0s;
}

#contact img {
  border-radius: 50%;
  height: 50px;
  margin-right: 5px;
}

#personal-info {
  grid-row: 2 / 10;
  align-self: center;
}

#personal-info > p {
  font-size: 3.5em;
}

#skills {
  display: flex;
  flex-wrap: wrap;
}

#skills p {
  color: #fff;
  font-size: 2em;
  padding: 10px 20px;
  margin: 20px 20px 0 0;
  border-radius: 5px;
  display: flex;
}

#skills p:nth-child(1) {
  background-image: linear-gradient(to right, #afafaf, #8d8d8d);
}

#skills p:nth-child(2) {
  background-image: linear-gradient(to right, #8d8d8d, #797979);
}

#skills p:nth-child(3) {
  background-image: linear-gradient(to right, #797979, #525252);
}

#icons {
  justify-self: center;
  display: flex;
}
#icons button {
  background-color: transparent;
  margin: 10px;
}
#icons button img {
  transition: opacity 0.5s;
  border-radius: 50%;
  height: 35px;
  opacity: .5;
}

#icons button img:hover {
  opacity: 1;
}

@media only screen and (max-width: 670px) {
  html, body, #root {
    background-image: linear-gradient(to bottom right, #fff, #f0f0f0);
    height: 100%;
  }

  .App {
    height: 100%;
    font-weight: 600;
  }

  #personal-info > p:nth-child(3) {
    margin-bottom: 10px;
  }

  #personal-info > p {
    font-size: 2.5em;
  }

  #icons {
    grid-row-end: -1;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0;
  }

  #skills p {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-right: 10px;
  }

  #icons button img {
    height: 35px;
  }
}

@media only screen and (max-width: 360px) {
  #personal-info > p {
    font-size: 2em;
  }

  #skills p {
    font-size: 1.2em;
    margin: 10px 10px 0 0;
  }

}