@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
  background-image: linear-gradient(to bottom right, #fff, #f0f0f0);
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}
